In [1]:
import pandas as pd
import pyodbc

Driver={ODBC Driver 18 for SQL Server};Server=tcp:trendytech-pharma-sql.database.windows.net,1433;Database=trendytech_hospital_a;Uid=soniav762;Pwd={your_password_here};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;

In [2]:
# Step 1: Define connection details
server = 'trendytech-pharma-sql.database.windows.net'  # Replace with your server name
database = 'trendytech_hospital_a'                   # Replace with your database name
username = 'soniav762'                   # Replace with your username
password = 'trendytech_123'                   # Replace with your password
driver = '{ODBC Driver 18 for SQL Server}'   # Use the installed driver name

conn_str = f'DRIVER={driver};SERVER={server};PORT=1433;DATABASE={database};UID={username};PWD={password}'

In [3]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Query to list tables and schemas
query = """
SELECT 
    TABLE_SCHEMA,
    TABLE_NAME
FROM 
    INFORMATION_SCHEMA.TABLES
WHERE 
    TABLE_TYPE = 'BASE TABLE'
ORDER BY 
    TABLE_SCHEMA, TABLE_NAME;
"""

# Execute the query
cursor.execute(query)

# Fetch and print results
tables = cursor.fetchall()
for schema, table in tables:
    print(f"{schema}.{table}")

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 18 for SQL Server]TCP Provider: Timeout error [258].  (258) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 18 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 18 for SQL Server]Invalid connection string attribute (0); [08001] [Microsoft][ODBC Driver 18 for SQL Server]Unable to complete login process due to delay in login response (258)')

In [ ]:
table_name = 'dbo.a_encounters'

In [12]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-a/encounters.csv'  # Replace with your file path
df = pd.read_csv(file_path)

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (EncounterID, PatientID, EncounterDate, EncounterType, ProviderID, DepartmentID, ProcedureCode, InsertedDate, ModifiedDate)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [ ]:
table_name = 'dbo.a_patients'

In [20]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-a/patients.csv'  # Replace with your file path
df = pd.read_csv(file_path)
# df.head()

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (PatientID,FirstName,LastName,MiddleName,SSN,PhoneNumber,Gender,DOB,Address,ModifiedDate)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [21]:
table_name = 'dbo.a_providers'

In [22]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-a/providers.csv'  # Replace with your file path
df = pd.read_csv(file_path)
# df.head()

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (ProviderID,FirstName,LastName,Specialization,DeptID,NPI)
    VALUES (?, ?, ?, ?, ?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [23]:
table_name = 'dbo.a_transactions'

In [26]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-a/transactions.csv'  # Replace with your file path
df = pd.read_csv(file_path)
# df.head()

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (TransactionID,EncounterID,PatientID,ProviderID,DeptID,VisitDate,ServiceDate,PaidDate,VisitType,Amount,AmountType,PaidAmount,ClaimID,PayorID,ProcedureCode,ICDCode,LineOfBusiness,MedicaidID,MedicareID,InsertDate,ModifiedDate)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [27]:
table_name = 'dbo.b_departments'

In [28]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-b/departments.csv'  # Replace with your file path
df = pd.read_csv(file_path)

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (DeptID,Name)
    VALUES (?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [30]:
table_name = 'dbo.b_encounters'

In [31]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-b/encounters.csv'  # Replace with your file path
df = pd.read_csv(file_path)

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (EncounterID,PatientID,EncounterDate,EncounterType,ProviderID,DepartmentID,ProcedureCode,InsertedDate,ModifiedDate)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [42]:
table_name = 'dbo.b_patients'

In [43]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-b/patients.csv'  # Replace with your file path
df = pd.read_csv(file_path)
# df.head()

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (ID,F_Name,L_Name,M_Name,SSN,PhoneNumber,Gender,DOB,Address,Updated_Date)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 5 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

In [ ]:
table_name = 'dbo.b_providers'

In [ ]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-b/providers.csv'  # Replace with your file path
df = pd.read_csv(file_path)
# df.head()

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (ProviderID,FirstName,LastName,Specialization,DeptID,NPI)
    VALUES (?, ?, ?, ?, ?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [ ]:
table_name = 'dbo.a_transactions'

In [ ]:
# Step 2: Connect to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Step 3: Read the CSV file
file_path = 'F:/Job Hunt 24-25/Practice/Azure_DE_Handson/datasets/EMR/trendytech-hospital-a/transactions.csv'  # Replace with your file path
df = pd.read_csv(file_path)
# df.head()

# Step 4: Insert data into the database
for index, row in df.iterrows():
    sql_query = f"""
    INSERT INTO {table_name} (TransactionID,EncounterID,PatientID,ProviderID,DeptID,VisitDate,ServiceDate,PaidDate,VisitType,Amount,AmountType,PaidAmount,ClaimID,PayorID,ProcedureCode,ICDCode,LineOfBusiness,MedicaidID,MedicareID,InsertDate,ModifiedDate)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    cursor.execute(sql_query, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!